#mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 220px;
    height: 100%;
    background-color: #373737;
    z-index: 9999;
    transition: all 0.3s ease-in;
}

a:hover,
a:focus {
    text-decoration: none
}

.mobile-nav ul li a {
    color: gray;
    display: block;
    padding: 1em 5%;
    border-top: 1px solid #4f4f4f;
    border-bottom: 1px solid #292929;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.mobile-nav ul li a:hover {
    background-color: #23A1F6;
    color: #ffffff;
}


/*侧滑*/

.show-nav {
    transform: translateX(0);
}

.hide-nav {
    transform: translateX(220px);
}

.close-button {
    position: absolute;
    top: 0;
    right: 220px;
    height: 100%;
    line-height: 35px;
    width: 50%;
    background-color: rgb(66, 131, 172);
    color: #ffffff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.close-button span {
    font-size: 50px;
    position: absolute;
    top: 50%;
    right: 30px;
}